.container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);

  justify-items: center;
  align-items: center;
}

.container .item{
  background-color: #f0a;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
}