.container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

div.item1{
  background-color: #f80;
  grid-column-start: 1;
  grid-column-end: 5;
}

div.item3{
  background-color: #f0f;
  /* grid-column-start: 1;
  grid-column-end: -1; */

  grid-column: 1 / -1;
  grid-row: 2 / 4;
}

div.item8{
  background-color: #1f5;
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column: 5 / 6;
}